/*footer*/
.footer {
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(92, 92, 92, 0.562);
    color: white;
    text-align: center;
    padding: 3em 0;
}
.footer a {
    color: rgba(92, 92, 92, 0.774);
    font-size: 0.8em;
    margin-bottom: 5em;
    text-decoration: none;
    padding: 1em;
    border-radius: 50px;
}
footer a:hover {
    background-color:  rgba(92, 92, 92, 0.774);
    color: white;
    transition: 1s;
}